<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Up casting program/src/Upcastingtopic/Mainclass8.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="Upcastingtopic.Mainclass8"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Up casting program"/>
</launchConfiguration>
