<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Logical_programe/src/odd_even_prog/RangePrime.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="odd_even_prog.RangePrime"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Logical_programe"/>
</launchConfiguration>
